{% extends "template/home.njk" %}

{% block main %}
<div class="container">
    <h1>Blogs</h1>
    <ul>
    {% for post in collections.post %}
            <li class="blog">
               <div class="tags">
                   {% for tag in post.data.tags %}
                      {% if tag !== 'post' %}
                      <div class="tagss">{{tag}}</div>
                      {% endif %}
                   {% endfor %}
               </div>
               <div class="body">
                   <div class="heading">
                       <a href="{{post.url}}" class="blog-title"><h2> {{post.data.title}}</h2></a>
                   </div>
                   <div class="content">
                    <p>
                    {{post.data.desp}}
                    </p>   
                  </div>
               </div>
            </li>
{% endfor %}
    </ul>
</div>
{% endblock %}
