<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystica</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://unpkg.com/prism-themes@1.6.0/themes/prism-gruvbox-dark.css" rel="stylesheet">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@CuriouZmystee" />
     <meta name="twitter:creator" content="@CuriouZmystee" />

    <meta property="og:title" content="{{title}}" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="image" property="og:image" content="src/assets/images/banner.png" />
    <meta property="twitter:image" content="src/assets/images/banner.png" />
    <meta name="description" content="{{desp}}">
    <meta property="og:description" content="{{desp}}" />
    <meta name="twitter:description" content="{{desp}}" />

    <meta property="og:url" content="https://mystica.pages.dev/" />
</head>
<body>
    {% include "partials/header.njk" %}
    <main tabindex="-1">
        {% block main %}
        <div class="home-container">
            <div class="home-content">
                <div class="home-content-div">
                    <!-- <img src="/assets/images/mystic.jpg" alt="mystica" class="me"> -->
                    {% image "src/assets/images/mystic.jpg", "mystica","me" %}
                    <p class="home-content-p">
                        <span>Hello there, I'm Mystica.</span>
                        <span style="display: block;">
                        Software Developer.
                       </span>
                    </p>
                </div>
                <div class="home-content-div">
                    <div class="box">
                            <a href="https://github.com/mystica2000" target="_blank">
                                {% image "src/assets/images/github.png", "github profile","logo" %}
                            </a>
                            <a href="https://twitter.com/CuriouZmystee" target="_blank">
                                {% image "src/assets/images/twitter.png", "twitter profile","logo" %}
                            </a>
                            <a href="https://www.linkedin.com/in/infant-mystica-810776195/" target="_blank">
                                {% image "src/assets/images/linkedin.png", "Linkedin profile","logo" %}
                            </a>
                    </div>
                </div>
            </div>

        {# <div class="projects" id="projects">
            <div class="">
                <h1>Projects</h1>
            </div>
        </div> #}
        </div>
        {% endblock %}
    </main>
    {% include "partials/footer.njk" %}

</body>

<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.js"></script>

<script src="/js/main.js"></script>
</html>