{% extends "template/home.njk" %}
{% block main %}
  <div class="container">
    <section class="post-container" style="margin-top:1em">
      <h2>A bit about me</h2>
      <p>I'm Mystica (Yes, that's my real name). Graduated with Bachelor's in Information Technology in 2021.
        I am a fullstack developer working remotely from a small town 🏠. I have a sweet dog named Dolly 🐶 who would trade me for coconut 🥥  </p>
      <br>

      <ul>Currently Exploring about,
        <li>- JS Ecosystem </li>
        <li>- Computer Networks </li>
        <li>-  CRDTs, Distributed Systems.</li>
      </ul>

      {{ content | safe }}
    </section>
  </div>
{% endblock %}