{% extends "template/home.njk" %}

{% block main %}
<div class="container">
    <h1>Others</h1>
    <p style="text-align:center;">The list of random stuff that i like</p>
    <hr>
</div>
{% endblock %}
