{% extends "template/home.njk" %}

{% block main %}
<div class="container">
    <div class="post-container">
      <article>
        {# <div class="post-header"> #}
             <h1>{{title}}</h1>
             <p class="date">🕔 {{page.date.toDateString()}}</p>
                <ul class="tags post-tags">
                {% for tag in tags %}
                  {% if tag !== 'post' %}
                  <li class="tagss">{{tag}}</li>
                  {% endif %}
                {% endfor %}
              </ul>
        {# </div> #}

            {{content | safe }}</article>
         <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet"
              data-via="mysticainf"
              data-url="https://mystica.me/blog/"
              data-text="{{title}}-{{desp}}"
              id="share-btn"
              data-size="large">Share</a>
    </div>
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</div>
{% endblock %}
