@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/poppins-v20-devanagari-regular.eot');
  src: local(''), url('/assets/fonts/poppins-v20-devanagari-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/poppins-v20-devanagari-regular.woff2') format('woff2'), url('/assets/fonts/poppins-v20-devanagari-regular.woff') format('woff'), url('/assets/fonts/poppins-v20-devanagari-regular.ttf') format('truetype'), url('/assets/fonts/poppins-v20-devanagari-regular.svg#Poppins') format('svg');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

body {
  background-color: #1f2937;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.links {
  background: linear-gradient(to left, salmon 50%, #8D8DAA 50%) right;
  background-size: 200%;
  padding: 10px;
  color: #000;
}

.links:hover {
  color: #fff;
  background-position: left;
  background-color: antiquewhite;
}

.active {
  background: #8D8DAA !important;
}

footer {
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 73vh;
  width: 98%;
  margin: auto;
  justify-content: flex-start;
}

.blog h2 {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #fff;
  margin-top: 3px;
  margin-bottom: 0;
}

.blog p {
  color: #000;
}

.blog-title {
  text-decoration: none;
}

.blog {
  max-width: 720px;

  margin: 10px;
  justify-content: center;
  border-bottom: 2px solid #9ca3af;
  padding: 1em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: .5em;
}

.tagss {
  padding: 7px;
  border-radius: 10px;
  background-color: #db1d70;
  color: #fff;
}

.content {
  max-height: 100px;
}

.content p {
  max-height: 100px;
  overflow: hidden;
  padding: 10px;
  background-color: rgb(208 227 249);
  -webkit-line-clamp: 4;
  line-height: 1.4em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-content,
.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 73vh;
}

.home-content-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.me {
  width: 290px;
  height: 290px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

@media screen and (max-width: 400px) {
  .me {
    width: 200px;
    height: 200px;
  }
}

.home-content-p {
  font-size: 1.4em;
  text-align: center;
}

.box {
  display: flex;
  gap: 10px;
  border: 2px solid #fff;
  max-width: 200px;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
}

.projects {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: flex-start;
}

@media only screen and (max-width: 750px) {
  .blog {
    width: auto;
  }
}

.show-sm {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 490px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .hide-sm {
    display: none;
  }

  .show-sm {
    display: inline;
  }
}

@media only screen and (min-width: 490px) {
  .hide-sm {
    display: block;
  }

  .show-sm {
    display: none;
  }
}

nav h1 {
  font-size: 3em;
}

.post-container {
  margin-top: 4em;
  max-width: 720px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.post-header {
  padding: 1em 0em;
  border-bottom: 2px solid #db1d70;
  margin-bottom: 2em;
}

.date {
  font-size: .9em;
}

.post-img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

figcaption {
  text-align: center;
  width: 100%;
  background-color: #000;
}

.post-tags {
  margin-top: 10px;
}

.tagss {
  min-width: 70px;
  text-align: center;
  padding: .3em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  width: fit-content;
  background-color: #000;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.footer p a:visited {
  color: #db1d70;
}

hr {
  margin-top: 1.5em;
  width: 50%;
}

.ahrefmd {
  color: #ff6d91;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 17px;
}

@media only screen and (max-width: 360px) {
  h1 {
    text-align: center;
  }
}

@media only screen and (max-height: 720px) {

  .home-content,
  .projects-list {
    height: fit-content;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Roboto Mono, monospace;
}

.talk {
  padding: 30px;
  margin: 3px;
  margin-top: 10px;
  border: 1px solid white;
}