<header>
        <nav>
            <h1>Mystica
            <a href="/feed.xml">
                {% image "src/assets/images/rss.png", "rss feed icon","show-sm" %}
            </a></h1>

            <ul class="nav-links">
                <li class="nav-link">
                    <a href="/" class="links" id="home">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/blog" class="links" id="blog">Blog</a>
                </li>
                <li class="nav-link">
                    <a href="/others" class="links" id="others">Others</a>
                </li>
                <li class="nav-link hide-sm">
                    <a href="/feed.xml">
                        {% image "src/assets/images/rss.png", "rss icon","rss-icon" %}
                    </a>
                </li>
            </ul>
        </nav>
</header>