<header>
  <nav>
    <h1>Mystica
      <a href="/feed.xml" class="show-sm">
        <svg
          style="color: rgb(255, 94, 41);"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-rss-fill"
          viewBox="0 0 16 16"
          role="img"
          aria-labelledby="rss1">
          <title id="rss1">RSS Icon</title>
          <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8
              8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0
              0 1 0 3z"
            fill="#ff5e29"></path>
        </svg>
      </a>
    </h1>
    <ul class="nav-links">
      <li class="nav-link">
        <a href="/" class="links" id="home">Home</a>
      </li>
      <li class="nav-link">
        <a href="/blog" class="links" id="blog">Blog</a>
      </li>
       <li class="nav-link">
        <a href="/projects" class="links" id="projects">Projects</a>
      </li>
      <li class="nav-link">
        <a href="/others" class="links" id="others">About</a>
      </li>
      <li class="nav-link hide-sm">
        <a href="/feed.xml">
          <svg
            style="color: rgb(255, 94, 41);"
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-rss-fill"
            viewBox="0 0 16 16"
            role="img"
            aria-labelledby="rss2">
            <title id="rss2">RSS Icon</title>
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8
                8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0
                0 1 0 3z"
              fill="#ff5e29"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>